.aboutSectionbg {
    background-image: url("../../assets/About.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.letterSpacing {
    letter-spacing: 4px;
}