@import url('https://fonts.googleapis.com/css2?family=Crimson+Pro:ital,wght@0,200..900;1,200..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

.crimson {
    font-family: "Crimson Pro", serif;
}

.roboto {
    font-family: "Roboto", sans-serif;
}

body {
    --sb-track-color: #ffffff;
    --sb-thumb-color: #2a4d3e;
    --sb-size: 7px;
    font-family: "Roboto", sans-serif;
}

body::-webkit-scrollbar {
    width: var(--sb-size)
}

body::-webkit-scrollbar-track {
    background: var(--sb-track-color);
    border-radius: 2px;
}

body::-webkit-scrollbar-thumb {
    background: var(--sb-thumb-color);
    border-radius: 2px;

}

@supports not selector(::-webkit-scrollbar) {
    body {
        scrollbar-color: var(--sb-thumb-color) var(--sb-track-color);
    }
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.moveTop {
    position: fixed;
    bottom: 25px;
    right: 25px;
    z-index: 1000;
}


.whatsapp-btn {
    position: fixed;
    bottom: 25px;
    left: 25px;
    background-color: #24CC63;
    color: white;
    z-index: 1000;
}